<!-- do a for loop here through the data -->
<div class="modal-box">
    <div class="configuration-details">
        <h1>Units</h1>
        <div *ngFor="let unit of configuartionDetials.units; let unitIndex = index">
            <div class="dropdown-heading">
                <input type="text" [(ngModel)]="unit.unitDetails.name">
                <span>Weight: <input type="text" [(ngModel)]="unit.unitDetails.weight">
                    Start: <input placeholder="yyyy-mm-dd" [(ngModel)]="unit.unitDetails.startDate"
                        ngbDatepicker #start="ngbDatepicker">
                    <img (click)="start.toggle()" src="/assets/calender.png">
                    End: <input placeholder="yyyy-mm-dd" [(ngModel)]="unit.unitDetails.endDate"
                        ngbDatepicker #end="ngbDatepicker">
                    <img (click)="end.toggle()" src="/assets/calender.png">
                    <button (click)="unit.displayAssignments = !unit.displayAssignments">Down Arrow</button>
                </span>
            </div>
            <div class="dropdown-details" #collapse="ngbCollapse" [(ngbCollapse)]="unit.displayAssignments">
                <h3>Assignments</h3>
                <div *ngFor="let assignment of unit.assignments; let assignmentIndex = index">
                    <div class="dropdown-heading">
                        <input type="text" [(ngModel)]="assignment.assignmentDetails.name">
                        <span>Weight: <input type="text" [(ngModel)]="assignment.assignmentDetails.weight">
                            Start: <input placeholder="yyyy-mm-dd" [(ngModel)]="assignment.assignmentDetails.startDate"
                                ngbDatepicker #start="ngbDatepicker">
                            <img (click)="start.toggle()" src="/assets/calender.png">
                            End: <input placeholder="yyyy-mm-dd" [(ngModel)]="assignment.assignmentDetails.endDate"
                                ngbDatepicker #end="ngbDatepicker">
                            <img (click)="end.toggle()" src="/assets/calender.png">
                            <button (click)="assignment.displayTasks = !assignment.displayTasks">Down Arrow</button>
                        </span>
                    </div>
                    <div class="dropdown-details" #collapse="ngbCollapse" [(ngbCollapse)]="assignment.displayTasks">
                        <h5>Tasks</h5>
                        <div *ngFor="let task of assignment.tasks">
                            <div class="dropdown-heading">
                                <input type="text" [(ngModel)]="task.taskDetails.name">
                                <span>Weight: <input type="text" [(ngModel)]="task.taskDetails.weight">
                                    Start: <input placeholder="yyyy-mm-dd" [(ngModel)]="task.taskDetails.startDate"
                                        ngbDatepicker #start="ngbDatepicker">
                                    <img (click)="start.toggle()" src="/assets/calender.png">
                                    End: <input placeholder="yyyy-mm-dd" [(ngModel)]="task.taskDetails.endDate"
                                        ngbDatepicker #end="ngbDatepicker">
                                    <img (click)="end.toggle()" src="/assets/calender.png">
                                </span>
                            </div>
                        </div>
                        <h1 (click)="addNewTask(unitIndex, assignmentIndex)">Add</h1>
                    </div>

                </div>
                <h1 (click)="addNewAssignment(unitIndex)">Add</h1>
            </div>
        </div>
        <div>
            <h1 (click)="addNewUnit()">Add</h1>
        </div>
    </div>
</div>