<div class="title-box">
    <h1>Semester Name </h1> 
    <button (click)="openConfigureModal()">Configure</button>
</div>
<div class="heading-box">
    <div [ngClass]="selectedHeading == 'overview' ? 'selected-heading-box' : ''" (click)="selectedHeading='overview'">
        <h3>Overview</h3>
    </div>
    <div [ngClass]="selectedHeading == 'currentAssignment' ? 'selected-heading-box' : ''" (click)="selectedHeading='currentAssignment'">
        <h3>Current Assignments</h3>
    </div>
</div>
<div *ngIf="selectedHeading == 'overview'" class="overview-box">
    <div class="average-assignment-box">
        <h5> Average Assignment Mark</h5>
        <img src="http://placekitten.com/300/300">
    </div>
    <img src="http://placekitten.com/100/300">
    <div class="unit-grades">
        <div>
            <img src="http://placekitten.com/100/100">
            <img src="http://placekitten.com/100/100">
        </div>
        <div>
            <img src="http://placekitten.com/100/100">
            <img src="http://placekitten.com/100/100">
        </div>
       
    </div>
</div>
<div *ngIf="selectedHeading == 'currentAssignment'">
    <div *ngFor="let currentAssignment of currentAssignments">
        <h1> {{currentAssignment.assignmentDetails.name}}</h1>
    </div>
    
</div>
<div class="heading-box">
    <h3>Work</h3>
</div>
<div class="tasks-box">
    <div>
        <h4>Tasks</h4>
        <div class="email-list">
            <p>Email List</p>
        </div>
        <div class="toDo-list">
            <p>toDo List</p>
        </div>
    </div>
    <div>
        <h4>Planner Tasks</h4>
        <div class="bucket-list">
            <div class="bucket">
                <h3>Bucket 1</h3>
                <p>Bucket 1 item</p>
                <p>Bucket 1 item</p>
                <p>Bucket 1 item</p>
            </div>
            <div class="bucket">
                <h3>Bucket 2</h3>
                <p>Bucket 2 item</p>
                <p>Bucket 2 item</p>
                <p>Bucket 2 item</p>
            </div>
            <div class="bucket">
                <h3>Bucket 3</h3>
                <p>Bucket 3 item</p>
                <p>Bucket 3 item</p>
                <p>Bucket 3 item</p>
            </div>
        </div>
    </div>
</div>
